* {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
}

body {
    background: rgb(214, 189, 189);
}

.container {
    
    height: 60vh;
    border-radius: 30px;
    width: 25%;
    background: rgb(0, 0, 0);
    box-shadow: 20px 20px 2px rgb(65, 67, 68);

    

}

.conteudo-resultado {
    display: flex;
    background: rgb(233, 127, 7);
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 10px 10px 0 0 ;
    justify-content: space-between;
    
    
}

.ac {
    align-self: flex-start;
    margin-left: 65px;
        cursor: pointer;
}



span {
    
    margin-right: 80px;
    font-size: 30px;
    color: white;
    
    
    
    
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(221, 208, 208);
    height: 100vh;
}

.calc-lista {
    list-style: none;
    gap: 10px;
    margin: 10px;
    justify-content:center ;
    align-items: center;
    display: flex;
}

li {
    border-radius: 40px;
    padding: 40px;
    gap: 10px;
    color: rgb(255, 255, 255);
    background: orange;
     background: rgb(51, 51, 51); 
     cursor: pointer;
}

.mudar {
    background: orange;
}

.mudar:active{
    background: rgb(218, 149, 23);
}

li:active {
    background: rgb(116, 114, 114); 

}